.card {
  position: relative;
  overflow: hidden;
  z-index: 0;
}

.card::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 24rem;
  height: 24rem;
  background: url('/picture/bg-1.png') no-repeat bottom left / contain;
  pointer-events: none;
  z-index: 1;
}
