.aboutDecoration {
  position: relative;
}

.aboutDecoration::before {
  content: '';
  position: absolute;
  background: url('/picture/header-decoration.png') no-repeat;
  height: 3rem;
  width: 3rem;
  background-size: contain;
  pointer-events: none;
  filter: brightness(0) invert(0.5);
  bottom: 1.2rem;
}

.aboutHeader {
  position: relative;
}

.aboutHeader::before {
  content: '';
  position: absolute;
  background: url('/picture/decoration-1.svg') no-repeat;
  height: 4rem;
  width: 4rem;
  background-size: contain;
  opacity: 1;
  top: 6rem;
  pointer-events: none;
  filter: brightness(0) invert(0.65);
}

.aboutHeader::after {
  content: '';
  position: absolute;
  background: url('/picture/decoration-2.png') no-repeat;
  height: 4rem;
  width: 4rem;
  background-size: contain;
  opacity: 1;
  top: 9rem;
  left: 0.3rem;
  pointer-events: none;
}

@media (min-width: 1280px) {
  .aboutHeader::before {
    height: 5rem;
    width: 5rem;
  }
}

.aboutRight {
  position: relative;
}

.aboutRight::before {
  position: absolute;
  content: '';
  background: url('/picture/decoration-4.png') no-repeat;
  height: 5.4rem;
  width: 5.4rem;
  background-size: contain;
  z-index: 1;
  bottom: 1.4rem;
  left: 1.7rem;
}
